*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Idea files
.classpath
.idea/
.idea_modules/
*.iml
*.ipr
*.iws
*.ids

# Patch files
*.patch

# Eclipse Project files
.settings/
.project


# Vim temp file
*.swp

# Gradle files
build
.gradle
